@import "./variables.css";

#item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    padding: 16px;

    width: 100%;
    box-sizing: border-box;
}

.item-card {
    width: 100%;
    aspect-ratio: 1 / 1;    /* forces height to match width */
    overflow: hidden;

    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 10px 10px 5px var(--COLOR-TEXT);
}

.item-body {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

.item-body > div {
    flex: 1;
}

.item-labels {
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 5px;
}

.item-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.item-price {
    font-weight: bold;
}